
@*@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
*@
<header class="nav">

    <div class="nav__holder nav--sticky">
        <div class="container relative">
            <div class="flex-parent">


                <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
                    <span class="nav-icon-toggle__box">
                        <span class="nav-icon-toggle__inner"></span>
                    </span>
                </button>


                @*          <a href="index.html" class="logo">
                    <img class="logo__img" src="/img/logo_ebadi.jpg" alt="logo">
                    </a>*@


                <nav class="flex-child nav__wrap d-none d-lg-block">
                    <ul class="nav__menu">

                        <li class="active">
                            <a href="/">صفحه اصلی</a>
                        </li>

                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-page="Notes/Index">بانک یادداشت</a>
                        </li> 
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">مدیریت اخبار</a>
                        </li>

                        <li class="nav__dropdown">
                            <a href="#">صفحات</a>
                            <ul class="nav__dropdown-menu">
                                <li><a href="about.html"> <a class="nav-link text-dark" asp-area="" asp-page="/Notes/Index">بانک یادداشت</a>  </li>
                                <li><a href="contact.html">تماس با ما</a></li>
                                <li><a href="search-results.html">نتایج جستجو</a></li>
                                <li><a href="categories.html">دسته بندی مطالب</a></li>
                                <li><a href="single-post.html">نمایش مطلب</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
                 <partial name="Site/_User" />
                <div class="nav__right">

                    <div class="nav__right-item nav__search">
                        <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                            <i class="ui-search nav__search-trigger-icon"></i>
                        </a>
                        <div class="nav__search-box" id="nav__search-box">
                            <form class="nav__search-form">
                                <input type="text" placeholder="جستجو مقالات" class="nav__search-input">
                                <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                    <i class="ui-search nav__search-icon"></i>
                                </button>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</header>
